/* Global: Stop the Message Indicator Animation */
div.chatTab div.chatTabUnreadBadge,
div.FriendMessageCount, 
div.ChatUnreadMessageIndicator { animation: none !important; }
div.chatTab.HasUnreadMessage div.UnreadGlow  { display: none; animation: none !important; }

/* Global: No User Avatars */
div.avatarHolder { width: 0px !important; }
img.avatar { display: none !important; }
div.avatarHolder.X-Large { width: 90px !important; display: block !important; }
div.avatarHolder.X-Large > img { display: block !important; }

/* Favorites: Allow Avatars */
div.favoriteElement div.avatarHolder { width: 26px !important; }
div.favoriteElement img.avatar { display: block !important; }

/* Friendlist: Hide Group Categories */
/* div.friendlistListContainer > div.gameGroup:not(.OtherGamesGroup) { display: none !important; } */

/* Friendlist: Hide Group Chats */
div.FriendsListContent > div:last-child { display: none !important; }

/* Friendlist: Hide Bottom/Feedback */
div.friendListFooter { display: none !important; }

/* Friendlist/Group Memberlist: Real Compact View */
div.CompactFriendsList div.friend { height: auto !important; }
div.CompactFriendsList div.friend div.avatarHolder { height: auto !important; }
div.CompactFriendsList div.labelHolder { display: flex; height: auto !important; }
div.CompactFriendsList div.friend div.richPresenceLabel { -webkit-mask: none !important; }
div.CompactFriendsList div.friend div.richPresenceLabel:not(.gameName){ display: none !important; }
div.CompactFriendsList div.friend:hover div.richPresenceLabel { display: none !important; }
div.CompactFriendsList div.friend:hover div.richPresenceLabel:last-child { display: block !important; }
div.chatRoomMembers div.ReactVirtualized__Grid__innerScrollContainer { height: auto !important; }
div.chatRoomMembers div.ReactVirtualized__Grid__innerScrollContainer > div { height: auto !important; position: unset !important; }

/*  Group Chat: Square Avatars */
div.ChatRoomGroupAvatar { border-radius: 0 !important; }

/* Group Chat: Hide Rank in Chat */
div.rankIcon { display: none !important; }
div.chatRoomMembers .rankIcon { display: block !important; top: 6px !important; left: 2px !important; }
div.chatRoomMembers .rankIcon img { height: 8px !important; width: 8px !important; }

/* Group Chat: Fix Message Padding */
div.MultiUserChat div.msg,
div.MultiUserChat div.msg:not(.ChatMsgSlashEmote) { padding-left: 10px !important; }

/* Chat: Hide Link Preview Image */
div.ChatMessageBlock a.OpenGraphImgContainer { display: none !important; }

/* Chat: Link Preview - No Link Animation */
div.ChatMessageBlock span.OpenGraphMessageURL_short,
div.ChatMessageBlock input.OpenGraphMessageURL_full { transform: none !important; transition: none !important; }
div.ChatMessageBlock div.OpenGraphFooter:hover span.OpenGraphMessageURL_short { display: 0 !important; transform: none !important; }
div.ChatMessageBlock div.OpenGraphFooter:hover input.OpenGraphMessageURL_full { opacity: 1 !important; transform: none !important; }

/* Compact chat input area */
div.smallChatFont.compactView textarea.chatTextarea { height: 24px; padding: 3px; overflow: hidden; white-space: nowrap; }
div.chatWindow div.chatEntry.compactView { padding: 4px 8px !important; height: 24px !important; }
div.chatEntry.compactView > * { height: 24px !important; }
div.chatEntry.compactView > form > textarea { height: 16px !important; font-size: 11px !important; }
div.chatEntry.compactView button.VoiceToggle { height: 20px; width: 20px; min-width: 20px; }
div.chatEntry.compactView div.VoiceToggleIconCtn { left: 3px; top: 4px; height: 18px; width: 18px; }
div.chatEntry.compactView div.VoiceToggleIconCtn > svg { width: 75% !important; height: 75% !important; }
div.ChatMessageEntryVoice { min-width: 20px; margin-left: 12px; margin-right: 12px; }
div.chatEntry.compactView button[class^="chatentry_chatSubmitButton"] { height: 20px; width: 20px; min-width: 20px; min-height: 20px; }
div.chatEntry.compactView button[class^="chatentry_chatSubmitButton"] svg.SVGIcon_Submit { margin-top: 2px !important; width: 14px !important; height: 14px !important; }
div.chatEntry.compactView button[class^="chatentry_chatSubmitButton"] svg.SVGIcon_Emoticon { margin-top: 0px !important; width: 12px !important; height: 12px !important; }
div.chatEntry.compactView button[class^="chatentry_chatSubmitButton"] svg.SVGIcon_Paperclip { width: 16px !important; height: 16px !important; }
div.chatEntry.compactView div[class^="chatentry_chatEntryActionsContainer"] { margin: 0px !important; }
svg[class^="shared_svg_library_EmoticonBow"] { top: -6px !important; }

/* Compact group chat header */
div.compactView div.chatRoomGroupHeader { padding: 2px 4px 2px 8px !important; }
div.compactView div.chatRoomGroupHeader div.ChatRoomGroupAvatar { display: none !important; }
div.chatRoomGroupHeaderNameandTag { flex-direction: row; justify-content: left; }
div.chatRoomGroupHeaderName { font-size: 20px !important; padding-top: 0px; }
div.chatRoomGroupHeaderTagline { font-size: 13px; padding-top: 4px; }
div.chatRoomGroupControls { flex-direction: row; }
div.chatRoomOptions { margin-right: 4px !important; }
div.chatRoomButton { margin: 0px 2px !important; height: 24px !important; width: 24px }
div.statMemberStat { margin-right: 4px !important; }
div.chatRoomGroupHeader div.broadcastInfoContainer { margin-right: 0px; padding: 4px; }
div.chatRoomGroupHeader div.broadcastInfoContainer div.broadcastDetails { padding-right: 0px; display: flex; flex-direction: row; }
div.chatRoomGroupHeader div.broadcastInfoContainer div.broadcastDetails div.nowWatching { max-height: 16px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 84px; }
div.chatRoomGroupHeader div.broadcastInfoContainer div.broadcastDetails div.gameTitle { font-size: 12px; text-align: left; padding-left: 4px; max-width: 128px; max-height: 16px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
div.chatRoomGroupHeader div.broadcastInfoContainer div.broadcastDetails div.broadcastTitle { font-size: 12px; max-height: 16px; }
div.chatRoomGroupHeader div.broadcastInfoContainer div.thumbnail { display: none !important; }

/* Compact group chat */
div.chatHistory { padding-bottom: 8px; }
div.smallChatFont div.ChatRoomSpeaker div.speaker div.speakerStatus { height: 11px; margin-right: 4px; }
div.smallChatFont div.speakerTimeStamp { line-height: 12px; font-size: 11px; }
div.smallChatFont div.ChatRoomSpeaker div.speaker { margin-top: 0px; padding: 1.5px 0; /*flex-direction: row-reverse; */}
div.smallChatFont div.ChatRoomSpeaker div.speaker div.speakerName { margin-top: 2px; }
div.smallChatFont div.ChatRoomSpeaker { margin-top: 0px; }
div.ChatRoomSpeaker div.speaker div.speakerAvatar { height: 0px !important; width: 0px !important; }
div.chatImageContainer, div.chatVideoContainer { margin-bottom: 0px; }
div.smallChatFont div.msg { padding: 0px; line-height: 15px; }
div.smallChatFont div.msg.timeDivision { margin-top: 0px; margin-bottom: 0px; height: 14px; }
span.mention { line-height: 14px !important; }
div.ChatMessageBlockDelete { top: 0px; left: -16px; }

/* Compact group chat user list */
div.friendGroup div.groupName { font-size: 12px !important; line-height: 16px; margin-top: 6px; position: unset !important; height: unset !important; }
div.chatroomBucket_regular { position: unset !important; height: unset !important; }
div.CompactFriendsList div.friend, div.CompactFriendsList div.friendGroup div.friend { padding: 2px 0px 0px 6px !important; margin: 0px !important; }
div.CompactFriendsList div.friend div.playerName { font-size: 11px; margin: 0px !important; -webkit-mask: unset !important; padding-right: 0px; }
div.CompactFriendsList div.friend div.labelHolder { margin-top: 0px !important; }
div.CompactFriendsList div.friend div.richPresenceLabel { margin-top: 1px !important; font-size: 10px !important; }
div.CompactFriendsList div.friend div.avatarHolder div.avatarStatus { display: none; }
div.ContextMenuButton { height: 12px; width: 14px; }
div.MemberListOptionsContainer { height: 24px; }
div.MemberListOption { height: 16px; }
div.MemberListOptionsContainer form.socialInputContainer { margin: 4px; }
div.MemberListOption > svg { padding: 0px !important; }
div.MemberListColumn div.friend div.chatMemberFriendIcon { display: none !important; }
div[class^="personanameandstatus_playerName"] { font-size: 11px !important; margin-bottom: 0px !important; }
div[class^="personanameandstatus_gameName"] { font-size: 10px !important; margin-top: -1px !important; }
div[class^="personanameandstatus_richPresenceContainer"] { margin-top: 3px !important; margin-bottom: 0px !important; }
div[class^="personanameandstatus_richPresenceLabel"] { display: none !important; }
span[class^="personanameandstatus_playerNickname"] { font-size: 11px !important; }

/* Compact private chat */
div.ChatMessageInvite { margin-bottom: 0px; padding: 8px; }
div.leftInviteContainer { padding: 0px !important; }
div.rightInviteContainer { padding: 0px !important; margin: 0px !important; }
div.inviteURLContainer { margin: 0px !important; }
div.msg.gameInviteMsg { margin-bottom: 4px !important; }
div.inviteAnotherFriendButton { width: 16px; height: 16px; }

/* Compact chat objects */
div.ChatMessageTweet { margin-bottom: 4px; padding: 8px; }
div.ChatMessageTweet_Body > img { margin-top: 0px; margin-bottom: 0px; }
div.msgText > div > pre { margin-bottom: 0px !important; padding: 8px !important; }
div.ChatMsgSlashEmote.msg { margin-top: 0px !important; padding-bottom: 0px !important; }
div.msg.ChatMsgSlashEmote div.speaker { line-height: 15px !important; height: 15px !important; }
div[class^="messages_QuoteMessage"] { padding: 8px; margin: 0px; }
div.BBCodeYouTubeComponent { margin: 0px; }
div.msg div.ChatMessageOpenGraph { margin: 4px 0px; }
img.emoticon { vertical-align: bottom !important; }
div.NonInlinedEmbed { word-wrap: unset; word-break: unset; }
div.NonInlinedEmbed a div.NonInlinedEmbedLogo { height: 15px; margin-top: 0px; margin-bottom: -4px; }
div.NonInlinedEmbed a div.NonInlinedEmbedLogo.NonInlinedEmbedLogo_Twitter { background-position-y: -2px; width: 15px; }
div.NonInlinedEmbed svg.SVGIcon_Hyperlink, div.NonInlinedEmbed svg.SVGIcon_Image { width: 15px !important; height: 15px !important; margin-top: 0px !important; margin-bottom: -4px !important; }
div.NonInlinedEmbed svg.SVGIcon_YouTube { height: 11px !important; }
div.chatEntry.compactView div.chatFileUploadPreviewContainer { height: auto !important; }
div.chatEntry.compactView div.chatFileUploadProgressContainer { height: 92px !important; }
div.SingleUserChat div.msg.gameInviteMsg { margin: 0px !important; }
div.ChatMessageInvite.gameInviteMsg div.leftInviteContainer { display: none; }
div.ChatMessageInvite.gameInviteMsg div.rightInviteContainer { padding: 8px; flex-direction: row; }
div.gameInviteMsg div.centerBlock { margin-bottom: 0px; margin-right: 4px; }
div.msg.ChatMessageInvite div.invitedTimeLabel { display: none; }
div.gameInviteMsg div.productName { font-size: 12px; line-height: 12px; }
button.DialogButton.GreenPlay { min-width: 84px; padding: 0px; }
div.EmojiOnly { line-height: 32px !important; }
div.EmoticonOnly { line-height: 32px !important; }
div.timeDivision div.preHorizDivider { width: 10%; }
div.ChatMessageErrorSending { margin: 0px !important; }
div.ChatMessageErrorSending div.msgText { padding: 0px !important; }
canvas { height: 32px !important; }
canvas+img { height: 32px !important; }
div[style*="150px;"] { height: 32px !important; }
div[class^="bbcode_RoomEffectContainer"] { margin: 0px !important; padding: 8px !important; }
button.DialogButton.Primary { margin: 0px !important; padding: 0px 4px !important; left: 7px !important; font-size: 13px !important; line-height: 30px !important; }
div.TradeOfferInvite div.leftInviteContainer { width: 40px !important; height: 46px !important; }

/* Compact friends list */
div.compactView div.titleBarContainer div.currentUserContainer div.richPresenceLabel { line-height: 14px; padding-top: 2px; padding-bottom: 2px; margin-top: 0px; }
div.friendlistListContainer { margin-top: 0px; border-top: none; }
div.CompactFriendsList div.friendsContainer { padding-bottom: 0px; }
div.CompactFriendsList div.friend.ingame div.labelHolder { padding-top: 0px; padding-bottom: 0px; }
div.CompactFriendsList div.friend.ingame div.avatarHolder { height: 13px !important; }
div.CompactFriendsList div.friendGroup.gameGroup:not (div.OtherGamesGroup).friend { padding: 2px 0px 0px 6px !important; }
div.unreadFriend div.FriendMessageCount { font-size: 10px; line-height: 14px; height: 16px; padding: 0px 4px; top: 0px; }
div.CompactFriendsList div.unreadFriend div.FriendMessageCount { margin-top: 3px; }
div.SnoozeContainer { margin-top: 0px; margin-left: 2px; margin-right: 0px; }
div.gameGroupContainer { height: 16px !important; width: 10px !important; }
div.friendGroup.gameGroup { border-top: none; }
div.CompactFriendsList div.groupName div.gameGroupContainer img.groupIcon { display: none !important; }
div.FriendsListContent div.friendlistListContainer div.friendGroup.onlineFriends,
div.FriendsListContent div.friendlistListContainer div.friendGroup.offlineFriends { border-top: none !important; margin-top: 0px; }
div.ExpandPlusMinus { margin-top: 0px !important; }
div.socialListTab { margin-top: 0px; }
div.SteamPlayerGroupLines { display: none !important; }
div.SteamPlayerGroupFooter { display: none !important; }

/* Compact chat tabs */
div.HorizontalMiniSlider { height: 29px !important; }
div.ChatTabs.HasTabs { padding-top: 2px !important; }
div.ChatTabs.compactView div.chatTabList div[class^="chattabs_ChatTab_"] { height: 30px; width: 120px; margin-right: 0px; padding: 6px; }
div.ChatTabs.compactView div[class^="chattabs_ChatTabContent_ChatRoom"].ChatRoomGroupAvatar { width: 16px; height: 16px; }
div.ChatTabs.compactView div.labelHolder { margin-top: -3px; }
div.chatTab div[class^="chattabs_ChatTabContent_ChatRoom"] { padding-top: 6px !important; font-size: 12px; }
div.ChatTabs.compactView div[class^="chattabs_ChatTabContent_ChatRoomName"] { margin-top: -2px; font-size: 11px; }
/*div.chatTab div[class^="chattabs_ChatTabContent_Friend"] { padding-top: 6px !important; font-size: 12px; }*/
div.ChatTabContent div.friend div[class^="personanameandstatus_statusAndName"] { margin-top: 1px; }
div.chatTab div[class^="chattabs_CloseButton"] { padding: 0px 2px; }
div.chatTab div[class^="chattabs_UnreadGlow"] { line-height: 10px; height: 10px; font-size: 10px; }
div.chatTabDraggableSpace { width: 24px; }
div.compactView div.chatTabDraggableSpace.ChromeClearance { display: none; }
svg#arrowBase { width: 12px !important; height: 12px !important; padding: 4px; }
div.BBCodeResizableComponent.Minimized { min-height: 14px; }
div.compactView div.chatTabSelector { width: 28px; height: 29px; border: none; margin-top: 0px; }
div.compactView div.chatTabSelector > svg { margin-left: 8px !important; margin-top: 8px !important; }
div.compactView div.chatTabSelector.UnreadMessages div.ChatUnreadMessageIndicator { height: 29px; width: 28px; padding: 0px; }
div.compactView div.chatTabOpenFriendsList { height: 29px; box-shadow: inset 0px 0px 3px black; }

/* Remove Steam header */
div[class^="main_SteamPageHeader"] { display: none !important; }
